[submodule "themes/3-hexo"]
	path = themes/3-hexo
	url = https://github.com/yelog/hexo-theme-3-hexo.git
[submodule "themes/Ning~"]
	path = themes/Ning~
	url = https://github.com/ning0818/hexo-theme-ning.git
